/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    /* color: white; */
}

/* common */
.sezioni{
    display: flex;
    gap: 10px;
}
.cont-liste{
    text-decoration: none;
    color: white;
    display: flex;

} 

/* header */
header{
    background-color: orange;
    width: 100%;
    display: flex;
    align-items: center;
}
.contenuto-header{
    height: 50px;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 400px;
    align-items: center;
    width: 100%;
}

.logo{
    width: 150px;
}

/* main */
.box-con{
    margin: 100px auto;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    
}
.box{
    flex-basis: 25%;
    position: relative;
}
.img{
    width: 100%;
    display: block;
}
.caption{
    padding: 8px;
    color: white;
    position: absolute;
    font-size: 12px;
    top: 375px;
}
.percentuale{
    background-color: red;
}
.descrizione{
    background-color: green;
    left: 50px;
}

.marca{
    font-size: 12px;
    color: lightgray;
}

.titolo{
    font-size: 18px;
}
.sconto{
    color: red;
}
.prezzo{
    text-decoration: line-through;
}
/* footer */